body{
    background-color: #FAE6FA;  
}
h1{
    color: #DF00FF;
    font-weight:900;
    
}
h2{
    border-bottom-style: dotted;
    font-size: 50px;
}
p{
    color: #414A4C;
}

#sgp2{
    border-style: outset;
    padding: 5px; 
}
#sgp3{
    border-style: outset;
    padding: 5px;
}
#sgp4{
    border-style: outset;
    padding: 5px;
}
#sgp5{
    border-style: outset;
    padding: 5px;
}
#sgp6{
    border-style: outset;
    padding: 5px;
}